<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Define o dialeto correto dos comandos SQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Driver de conexão com o banco de dados -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- Localização do banco - Sempre revisar este local -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sislexis</property>
    <!-- Nome de suário do banco -->
    <property name="hibernate.connection.username">root</property>
    <!-- Essa propriedade faz com que o próprio Hibernate crie as tabelas no banco caso estas não existam -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- Mapeamento necessário para cada classe -->
    <mapping class="br.com.sislexis.modelos.Entidade"/>
    <mapping class="br.com.sislexis.modelos.Administrador"/>
    <mapping class="br.com.sislexis.modelos.Aluno"/>
    <mapping class="br.com.sislexis.modelos.Monitor"/>
  </session-factory>
</hibernate-configuration>
